<div class="list"  (keydown)="onKeyDown($event)">
  <button mat-button [attr.region]="'menu_input'" class="menu_input" [attr.default]="false"  (click)="openMenuSearch()">
    <mat-icon class="icon" style="color: rgba(255, 255, 255, 0.34);">search</mat-icon>
    <div class="name" style="color: rgba(255, 255, 255, 0.34);" >
      {{'搜索'|translate}}
    </div>
  </button>
  <div [attr.type]="'expansion'" *ngIf="data.menu_2_obj">
    <button mat-button *ngIf="data.menu_2_obj" style="height: 24px;" class="item" [attr.region]="'menu_item'" [attr.default]="false"
      (click)="opensource()" [attr.content_menu_value]="data.menu_2_obj.id" >
      <div class="name" style="margin-left: 4px;color: rgba(255, 255, 255, 0.34);" >
        {{data.menu_2_obj.name|translate}}
      </div>
    </button>
    <button mat-button
      [attr.default]="menu.current_menu_id==(data.menu_2_obj.id+'_'+c.id)&&data.currend_read_comics_id==''"
      [attr.select]="menu.current_menu_id==(data.menu_2_obj.id+'_'+c.id)&&data.currend_read_comics_id==''"
      [attr.selected]="menu.current_menu_id==(data.menu_2_obj.id+'_'+c.id)"
      [attr._id]="data.menu_2_obj.id+'_'+c.id"
      *ngFor="let c of data.menu_2_obj.submenu;let index2=index"
      mat-button
      class="item item1"
      [disabled]="c.disabled"
      [attr.region]="'menu_item'" (click)="on($event,c,{
          id:data.menu_2_obj.id,
          name:data.menu_2_obj.name
        })">
      <mat-icon class="icon" >{{c.icon}}</mat-icon>
      <div class="name" >
        {{c.name | translate}}
      </div>
    </button>
  </div>
  <div *ngFor="let n of data.menu;let index=index">
    <div *ngIf="n.type=='separator'" [attr.type]="'separator'">
      <mat-divider style="margin: 8px 16px;"></mat-divider>
    </div>
    <div *ngIf="!n.submenu&&n.type!='separator'" [attr.type]="'button'">
      <button [attr.default]="menu.current_menu_id==n.id&&data.currend_read_comics_id==''"
        [attr.select]="menu.current_menu_id==n.id&&data.currend_read_comics_id==''"
        [disabled]="n.disabled"
        [attr.selected]="menu.current_menu_id==n.id" style="margin-top: 4px;" mat-button class="item"
        [attr.region]="'menu_item'" (click)="on($event,n)" [attr._id]="n.id" [attr.content_menu_key]="'menu_item_v2'" [attr.content_menu_value]="n.id">
        <mat-icon class="icon"  >{{n.icon}}</mat-icon>
        <div class="name" >
            {{n.name | translate}}
        </div>
      </button>
    </div>
  </div>
  <div class="settings">
    <button [attr.menu_key]="'_gh_settings'" [attr.menu_value]="'_gh_settings'" mat-icon-button (click)="onMenu($event)"
      [attr.region]="'menu_item'" style="border-radius: 4px;">
      <mat-icon  class="icon">settings</mat-icon>
    </button>
  </div>
</div>
