<div class="warp">
  <div class="title" style="display: flex; justify-content: center;">
    <div style="   display: flex;

    font-size: 18px;
    opacity: 0.24; margin-top: 12px;" >-{{'语言设置' | translate}}-</div>
  </div>
  <div class="list" >
    <button mat-button
    class="item"
    (click)="use('en')"
    [attr._id]="'language_setting_en'"
    [attr.select]="true"
    [attr.default]="false"
    [attr.region]="'language_setting'"

    >
        <div class="value">English</div>
        <!-- 英语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('ru')"
    [attr._id]="'language_setting_ru'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">Русский</div>
        <!-- 俄语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('zh')"
    [attr._id]="'language_setting_zh'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">中文</div>
        <!-- 中文 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('de')"
    [attr._id]="'language_setting_de'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">Deutsch</div>
        <!-- 德语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('pt')"
    [attr._id]="'language_setting_pt'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">PORTuGuês</div>
        <!-- 葡萄牙语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('fr')"
    [attr._id]="'language_setting_fr'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">FRANÇAIS</div>
        <!-- 法语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('es')"
    [attr._id]="'language_setting_es'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">ESPAÑOL</div>
        <!-- 西班牙語 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('ja')"
    [attr._id]="'language_setting_ja'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">日本語</div>
        <!-- 日语 -->
    </button>

    <button mat-button
    class="item"
    (click)="use('ko')"
    [attr._id]="'language_setting_ko'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">한국인</div>
        <!-- 韩语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('it')"
    [attr._id]="'language_setting_it'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">ITALIANO</div>
        <!-- 意大利语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('tr')"
    [attr._id]="'language_setting_tr'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">Türk</div>
        <!-- 土耳其语 -->
    </button>
    <button mat-button
    class="item"
    (click)="use('hu')"
    [attr._id]="'language_setting_hu'"
    [attr.select]="false"
    [attr.default]="false"
    [attr.region]="'language_setting'"
    >
        <div class="value">MAGYAR</div>
        <!-- 匈牙利语 -->
    </button>
  </div>

</div>
