<mat-drawer-container autosize>
  <mat-drawer [opened]="left.opened" mode="side" style="min-width: 192px;" id="scroll" >
    <app-one-page-thumbnail-mode2 *ngIf="left.opened"></app-one-page-thumbnail-mode2>
  </mat-drawer>
  <div [attr.region]="'page_reader'" tabIndex="1" (keydown)="onKeyDown($event)" (keyup)="onKeyUp($event)"  [attr.content_menu_key]="'comics_reader'"  id="_reader_pages"  class="_reader" [attr.svg_filter]="'background_primary'">
    <div style="width: 100%;height: 100%;overflow: hidden;"  (click)="on($event)" *ngIf="data.is_init_free" [@scaleFadeAnimation]>
      <app-double-page-reader-v2-default *ngIf="data.comics_config.reader_mode=='double_page_reader'&&data.comics_config.is_page_order&&data.comics_config.is_double_page"></app-double-page-reader-v2-default>
      <app-double-page-reader-v2 *ngIf="data.comics_config.reader_mode=='double_page_reader'&&!data.comics_config.is_page_order&&data.comics_config.is_double_page"></app-double-page-reader-v2>
      <app-multiple-page-reader-mode1 *ngIf="data.comics_config.reader_mode=='up_down_page_reader'"></app-multiple-page-reader-mode1>
      <app-multiple-page-reader-mode2 *ngIf="data.comics_config.reader_mode=='left_right_page_reader'&&data.comics_config.is_page_order"></app-multiple-page-reader-mode2>
      <app-multiple-page-reader-mode3 *ngIf="data.comics_config.reader_mode=='left_right_page_reader'&&!data.comics_config.is_page_order"></app-multiple-page-reader-mode3>
      <app-one-page-reader-v2 *ngIf="data.comics_config.reader_mode=='double_page_reader'&&!data.comics_config.is_page_order&&!data.comics_config.is_double_page"></app-one-page-reader-v2>
      <app-one-page-reader-v2-default *ngIf="data.comics_config.reader_mode=='double_page_reader'&&data.comics_config.is_page_order&&!data.comics_config.is_double_page"></app-one-page-reader-v2-default>
      <div class="bg" *ngIf="data.comics_config.background_color=='frosted_glass'">
        <app-image [src]="data.details.cover" [objectFit]="'cover'"></app-image>
      </div>
      <app-book-reader *ngIf="data.comics_config.reader_mode=='double_book_page_reader'"></app-book-reader>
      <!-- <div style="display: flex;position: fixed;bottom: 0;left: 0;filter: opacity(0.3);">
         {{data.page_index}} /  {{data.pages.length}}
      </div> -->
    </div>
    <div style="position: absolute;top: 0;width: 100%;height: 100%;overflow: hidden;display: flex;justify-content: center;  align-items: center;"  (click)="on($event)" *ngIf="!is_exist_image">
      <mat-spinner class="spinner"></mat-spinner>
    </div>

  </div>

  <app-reader-toolbar></app-reader-toolbar>
  <app-reader-navbar-bar></app-reader-navbar-bar>
</mat-drawer-container>
